<!DOCTYPE html>
<html>
  <head>
    <title><%= data.y %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% dt = JSON.stringify(data) %>
    
    <h1> <%= data.y %></h1>
    <p>Welcome to <%= data.y %></p>
    
  </body>
</html>
